Package: sonic-platform-pegatron-fm-6256-bn-f
Source: sonic-pegatron-platform-modules
Version: 1.0.0
Architecture: amd64
Maintainer: Pegatron <Peter5_Lin@pegatroncorp.com>
Installed-Size: 1778
Depends: linux-image-3.16.0-5-amd64
Section: main
Priority: extra
Description: kernel modules for platform devices such as fan, led, sfp
