[Unit]
Description=Pegastron fm-6256-bn-f Platform initialization service
Before=network.target
DefaultDependencies=no

[Service]
Type=simple
ExecStart=/usr/local/bin/pegaProcess/main.py install
ExecStop=/usr/local/bin/pegatron_fm_6256_bn_f_util.py uninstall
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
